---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1 class="bg-green-400 text-4xl font-mono font-medium p-8 text-gray-50 m-8">
		TESTING DEPLOYMENT SUCCESS :)
	</h1>
	<Welcome />
</Layout>
