---
import { Button, SectionPage } from ".";
import { SOCIAL_URLS } from "../shared/shared-constants";

export interface Props {
  baseUrl: string;
}
const { baseUrl } = Astro.props;
---

<section id="resume" class="p-8">
  <SectionPage>
    <div class="flex flex-wrap space-y-4 justify-between">
      <div>
        <p class="text-4xl lg:text-6xl font-display font-bold">Resume</p>
        <p class="text-2xl font-display font-medium opacity-50">
          Real projects, real impact, real results
        </p>
      </div>
      <Button
        title="Download resume"
        linkUrl={SOCIAL_URLS.resume}
        target="blank"
        color="primary"
        border={true}
      />
    </div>
    <div class="mb-12"></div>
    <div class="flex justify-center items-center">
      <div>
        <div class="p-2 bg-white rounded-t-4xl  h-[25vh] md:h-[45vh]  lg:h-[80vh] overflow-y-clip">
          <img
            src={baseUrl + "/resume-frame.png"}
            alt="resume image"
            class="w-[84vw] rounded-t-3xl saturate-80 object-contain"
            style="mask-image: linear-gradient(to bottom, #FDFDFE, transparent);"
          />
        </div>
      </div>
    </div>
  </SectionPage>
</section>
